<div class="container mt__">
    <div class="jumbotron">
        <h1 class="display-4 title__">DSVendas</h1>
        <p class="lead">Analise o desempenho das suas vendas por diferentes perspectivas</p>
        <hr />
        <p>Esta aplicação consiste em exibir um dashboard a partir de dados fornecidos por um back end construído com
            Spring Boot e Angular.</p>
    </div>
</div>
<div class="col-md-12">
    <hr>
</div>
<app-grafic></app-grafic>
<div class="col-md-12">
    <hr>
</div>
<app-datatable></app-datatable>